.profile{
    .images{
        position: relative;
        .cover{
            width: 100%;
            height: 40vh;
        }
        .profilePic{
            width: 15rem;
            height: 15rem;
            border-radius: 50%;
            position: absolute;
            top: 12rem;
            left: 18rem;
        }

    }
}