@import "../../style.scss";

.navbar{
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(74, 73, 73, 0.204);
    z-index: 3;
   
    
    .left{
        display: flex;
        align-items: center;
        gap: 1rem;
        @include mobile{
            gap: 2.5rem;
        }
        
        span{
            font-size: 1.5rem;
            font-weight: 700;
            color: rgb(47, 56, 125);
        }
        .search{
            border: 1px solid rgba(53, 53, 53, 0.423);
            display: flex;
            border-radius: 5px;
            padding: 1.5px 4px;
            gap: 0.5rem;


            input{
                border: none;
                outline: none;
                width: 15rem;
                @include mobile{
                    display: none;
                }
            }
        }

    }
    .right{
        display: flex;
        align-items: center;
        gap: 1rem;
        @include mobile{
            display: none;
        }


        .person{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            span{
                font-weight: 500;
            }
            img{
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
            }
        }

    }
}